* {
    padding: 0;
    margin: 0;
    font-family: 'poppins' sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: black;
}

img{
    max-width: 100%;
}
.wrapper {
    background-image: url(images/hero-background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    float: right;
    display: flex;
}

nav ul li a {
    padding: 20px 10px;
    color: #fff;
    font-size: 20px;
    margin-left: 15px;
    /* margin-top: 20%;  */
}

.logo img {
    height: 100px;
    margin-left: 50px;

}



.center{
    margin-left: 8%;
    margin-top: 10%;
}


p {
    font-size: 48px;
    margin-bottom: 20px;
    color: white;
}

.center h2 {
    color: white;
    font-size: 48px;
    margin-bottom: 20px;
}

.center a{
    display: inline-block;
  background-color: #ff0000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.center a:hover{
    background-color: #e60000;

}


/* ABout */

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    padding-top: 10%;

}

.about-section{
    margin: 10px;
    width: 40%;
}

.about-section h2{
    color: #fff;
    margin-block: 10px;
    
}


.about-section p{
    font-size: 20px;
    font-weight: 500;
}


.image{
    width: 700px;
    height: 500px;
}


/* MENU */

img{
    max-width: 100%;

}

.menu-section{
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    padding: 8% 12%;
}

.box1{
    img{
        margin-bottom: 10px;
        border-radius: 25%;
    }

    h2{
        margin-bottom: 10px;
        color: white;
    }
    p{
        font-size: 20px;
        color: white;

    }
}


/* customer */


.customer {
    background-color: black;
    margin-top: 20%;
}


h1 {
    text-align: center;
    margin-left: 100px;
    font-size: 30px;
    color: white;
}

.customer-img {
    max-width: 100%;
}

.customer-section {
    padding: 3% 15%;

    .customer-img {

        img{
            width: 130px;
            height: 100px;
            border-radius: 50%; 
            margin-left: 50%;
        }
    }

    .customer1{
        margin-left: 27%;
        padding-bottom: 20px;

        p {
            width: 90%;
            font-size: 20px;
            margin-block: 10px;
            color: white;
        }
    
        h2 {
            color: white;
        }
    }


}



/* Gallery */


img{
    max-width: 100%;

}
h1 {
    color: white;
    text-align: center;
    padding-top: 10px;
    font-size: 60px;
}

.gallery {
    background-color: black;
   
}

.gallery-section  {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    padding: 8% 10px; 

  
}

.gallery img {
    border-radius: 25%;
}


/* contact */
 

.Contact{
    background-color: rgb(109, 102, 102);
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}
.form {
    padding: 10px 20px;
    background-color: rgb(18, 6, 6);
    box-shadow: 0px 3px 10px #222;
}

.form h2{
    text-align: center;
    margin-bottom: 18px;
    font-size: 24px;
    font-weight: 700;
    color: white;
}

.txt {
    margin-left: 42%;
    width: 25%;

}


.form-container input{
    display: block;
    width: 25%;
    border-radius: 15%;
    padding: 5px 10px;
    outline: none;
    border: 1px solid #222;
    margin-bottom: 10px;
   margin-left: 42%;
}

.contact {
    width: 10%;
    margin-top: 1%;
    font-size: 36px;    
    color: wheat;
    /* padding: 12px; */
    margin-left: 50%;
    background-color: blueviolet;
 
}

.contact:hover {
    color: chartreuse;
}



/* section footer */

.footer-section {
    background-color: black;
}


.img-foter img{
    width: 150px;


}

.img {
    margin-left: 40%;    
} 


.footer-links {
    margin-left: 25%;
}
.footer-links a {
    margin-left: 20px;
    color: white;
    font-size: 20px;
 
}

.footer-links a:hover {
    color: darkturquoise;
}

.footer-text {
    color: white ;
    padding-top: 5%;
    margin-left: 35%;    
    font-size: 18px;

}


/* facebook */

.facbok a{
    color: white;
    margin-left: 32%;
    border-radius: 40%;
    padding-bottom: 10px;
  
}

